libloader
platform_utils @ git+https://github.com/accessibleapps/platform_utils.git@e0d79f7b399c4ea677a633d2dde9202350d62c38
winpaths @ git+https://github.com/Accessiware/winpaths.git@57eb1f0fb45e150391463263598b0ac18eb171eb
